name: build

on:
  push:
    branches: [master]

jobs:
  build-server:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: server
    steps:
      - uses: actions/checkout@v2
      - name: Login docker
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com -u lsunsi --password-stdin
      - name: Build docker image
        run: docker build -t docker.pkg.github.com/lsunsi/portifolio/server:${GITHUB_SHA::8} .
      - name: Push docker image
        run: docker push docker.pkg.github.com/lsunsi/portifolio/server:${GITHUB_SHA::8}
