name: checks

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  check-server:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: server
    steps:
      - uses: actions/checkout@v2
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cargo
          key: cargo-${{ hashFiles('server/Cargo.lock') }}
          restore-keys: cargo-
      - name: Cache builds
        uses: actions/cache@v2
        with:
          path: server/target
          key: cargo-build-${{ hashFiles('server/Cargo.lock') }}
          restore-keys: cargo-build-
      - name: Type system check
        run: cargo check --release
      - name: Production build
        run: cargo build --release

  check-client:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client
    steps:
      - uses: actions/checkout@v2
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('client/package-lock.json') }}
          restore-keys: npm-
      - name: Install dependencies
        run: npm install
      - name: Type system check
        run: npx tsc
      - name: Production build
        run: npx next build
